core/src/main/resources/epicrisis.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://epicrisis.service.medcart.rightcode.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EpicrisisServiceImplService" targetNamespace="http://epicrisis.service.medcart.rightcode.ru/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://epicrisis.service.medcart.rightcode.ru/" elementFormDefault="unqualified" targetNamespace="http://epicrisis.service.medcart.rightcode.ru/" version="1.0">
            <xs:element name="epicrisis" type="tns:EpicrisisResponse"/>
            <xs:element name="getEpicrisisesRequest" type="tns:getEpicrisisesRequest"/>
            <xs:element name="getEpicrisisesResponse" type="tns:getEpicrisisesResponse"/>
            <xs:complexType name="getEpicrisisesRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="patientCode" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEpicrisisesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:EpicrisisResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EpicrisisResponse">
                <xs:sequence>
                    <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
                    <xs:element form="qualified" minOccurs="0" name="muCode" type="xs:long"/>
                    <xs:element form="qualified" minOccurs="0" name="doctorCode" type="xs:long"/>
                    <xs:element form="qualified" minOccurs="0" name="diagnosisCode" type="xs:long"/>
                    <xs:element form="qualified" minOccurs="0" name="epicrisisiData" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="creationDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEpicrisisesResponse">
        <wsdl:part element="tns:getEpicrisisesResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEpicrisises">
        <wsdl:part element="tns:getEpicrisisesRequest" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EpicrisisService">
        <wsdl:operation name="getEpicrisises">
            <wsdl:input message="tns:getEpicrisises" name="getEpicrisises"> </wsdl:input>
            <wsdl:output message="tns:getEpicrisisesResponse" name="getEpicrisisesResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EpicrisisServiceImplServiceSoapBinding" type="tns:EpicrisisService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEpicrisises">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEpicrisises">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEpicrisisesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EpicrisisServiceImplService">
        <wsdl:port binding="tns:EpicrisisServiceImplServiceSoapBinding" name="EpicrisisServiceImplPort">
            <soap:address location="http://localhost:8081/medcart/epicrisis"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>